* {
  box-sizing: border-box;
  margin: 0
}

/************************ Body *************************/
body {
  background-color: hsl(225, 100%, 94%);
  font-family: 'Red Hat Display', sans-serif;
  height: auto;
  font-size: 16px;
  color: #676b7a
}

.background-body {
  background-image: url("../images/pattern-background-desktop.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: top;
  background-size: 100% 100%;
  overflow: hidden;
  text-align: center;
  height: 48vh;
}

.illustration-body {
  border-radius: 20px;
  position: absolute;
  width: 450px;
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: center;
  top: 15%;
  left: 50%;
  width: 450px;
  margin-left: -225px;
  line-height: 1.5;
}

.illustration-body img {
  border-radius: 20px 20px 0 0
}

h1 {
  margin: 35px 0 15px;
  color: black;
}

.main-text {
  margin: 0 45px;
}

.plan-body {
  background-color: #f5f7ff;
  margin: 25px 45px 35px;
  padding: 24px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1.5
}

.price {
  display: flex;
  flex-direction: row;
}

.music-icon {
  margin-right: 24px;
}

.plan {
  font-weight: 900;
  color: black;
}

.change {
  font-weight: 900;
  font-size: 15px;
}

.change:hover {
  text-decoration: none;
  color: #785bc9;
}

button {
  margin: 0 45px 0;
  padding: 15px;
  border: 0;
  border-radius: 10px;
  background-color: hsl(245, 75%, 52%);
  color: white;
  box-shadow: 0px 10px 30px #9cacf0;
}

button:hover {
  background-color: #785bc9;
  cursor: pointer;
}

.cancel-order {
  margin: 28px 0 40px;
  font-weight: 900;
  font-size: 14px;
  text-decoration: none;
  color: #676b7a;
}

.cancel-order:hover {
  color: black;
  cursor: pointer;
}

.attribution {
  color: black;
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/***************************** MOBILE *********************************/
@media screen and (max-width: 375px) {
  body {
    font-size: 14px;
  }

  .background-body {
    background-image: url("../images/pattern-background-mobile.svg");
    height: 30vh;
  }

  .illustration-body {
    width: 320px;
    top: 2%;
    margin-left: -160px;
  }
  
  .illustration-body img {
    position: top;
  }

  .main-text {
    margin: 0 27px;
  }

  .plan-body {
    margin: 25px 27px 24px;
    padding: 15px;
  }

  .music-icon {
    margin-right: 15px;
  }

  .change {
    font-weight: 800;
    font-size: 14px;
  }

  button {
    margin: 0 27px 0;
    box-shadow: 0px 10px 30px #9cacf0;
  }

  .cancel-order {
    margin: 23px 0 32px;
  }

  .attribution {
    visibility: hidden;
  }
}
